/* General Reset and Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('Desktop - 1.jpg');
    background-position: center;
    background-size: cover;
}

.navbar {
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #f00;
}